{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Surfer list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Email</th>
                <th>Datebegin</th>
                <th>Dateend</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('surfer_show', { 'id': entity.id }) }}">{{ entity.email }}</a></td>
                <td>{% if entity.dateBegin %}{{ entity.dateBegin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dateEnd %}{{ entity.dateEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('surfer_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('surfer_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('surfer_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
